# VSCode
.vscode

/vendor
node_modules
Homestead.yaml
Homestead.json
.env
.npmrc
package-lock.json
.my.cnf

public/*
!public/audio/
!public/img/
!public/video/
!public/font/
!public/vendor/
!public/facetec-sdk/

resources/assets/css/global.css
resources/assets/css/all.css
storybook/storybook-static/

a a sublimeproject/
/.project

\.idea/

*.iml

ubuntu-xenial-16\.04-cloudimg-console\.log

database_data

tags
*.swp
.wakatime-project

.eslintcache
.phpunit.result.cache
/.phpunit.cache/
